# Exclude Python bytecode and cache files
.venv/
.env
*.log
__pycache__/
*.pyc
# Exclude JSON files that store user data
users.json
users.db
# Exclude log files
product_check.log*
infojs_debug.log
# Exclude backup and debug files
BACKUP_check_products.py
simple_checker.py
backup-main - Copy.py
backup-database.py
users.db-shm
users.db-wal
amul_bot_backup.sql
upload_to_github.py
# Exclude IDE and editor specific files
sqlite3.exe
substore_list.py
test_notification_logic.py
test_users.db
download_from_github.py
